@import url(//fonts.googleapis.com/css?family=Oswald);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

:root {
    --header-height: 50px;
}

body {
    /*background-color: powderblue;*/
}

.content {
    width: 400px;
    height: 600px;
    /*border: 2px solid azure;*/
}

#headline {
    height: var(--header-height);
    /*border: 1px solid gray;*/
    font-family: 'Oswald';
    font-size: 25px;
}

hr {
    display: block;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;

}

#scroll-box {
    width: calc(100% + 1em);
    height: calc(100% - var(--header-height));;
    overflow-y: auto;
    overflow-x: hidden;
    /*border: 1px solid;*/
    /*padding-right: 1em;*/
}

.item {
    min-height: 100px;
    border: 1px solid grey;
    margin-bottom: 5px;
    background-color: rgba(165, 165, 165, 0.24);
}

/*.item-focus {*/
    /*@extend .item;*/
    /*min-height: 100px;*/
    /*border: 2px solid red;*/
    /*margin-bottom: 5px;*/
    /*background-color: rgba(165, 165, 165, 0.24);*/
/*}*/

#image-container {
    background-color: rgba(73, 73, 73, 0.1);
    height: 100px;
    overflow: hidden;
    width: 130px;
    float: left;
    margin-right: 25px;
}

.item-image {
    width: 100%;
}

.item-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*height: 2em;*/
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.item-content {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;
    height: 30px;
}

.item-btn {
    height: 20px;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.51);
    float: left;
    margin-top: 8px;
}